.postsList {
  margin: 1% auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post {
  padding: 1%;
  margin: 1% auto;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: darkgray;
}

.post p {
  margin: 2%;
}
