html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
  background-color: #1a202c;
  color: #f7fafc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Add Source Code Pro font */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
